*{
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table{
    border: 1px solid black;
}


td {
    width: 100px;
    height: 100px;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}